$gap: 10px;

.footer{
    @include setbackGroundColor($primary);
    margin-top: 50px;

    .footer-contact{
        h1{
            padding: 10px 0;
            text-transform: capitalize;
        }
        @include setbackGroundColor(lighten($primary,20%));
        padding: 50px;
    }
    .quote{
        display: grid;
        gap: $gap;
        button{
            width: 40%;
            padding: 1em;
            border-radius: 20px;
            @include setbackGroundColor(lighten($primary,10%));
            cursor: $cursor;
            &:hover{
                @include setbackGroundColor(lighten($primary,20%));
            }
        }
    }
    .footer-info{
        display: grid;
        padding: 20px 0;
        margin: 0 10px;
        border-bottom: 1px solid $white;

        grid-template-columns: repeat(4,1fr);
       
        gap: 30px;
        flex-direction: row;
        @include setbackGroundColor($primary);
        
        }
        .email{
            display: grid;
            gap: $gap;
            .social{
                display: flex;
                gap: 20px;
                width: 60%;
            }
        }
        .address{
            display: grid;
            gap: $gap;
        }
        .gallary{
            h1{
            padding-bottom: 20px;
            }
            .gallary-imgs{
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(3,1fr);
                // grid-template-rows: repeat(2,1fr);
            }
            .gallary-img{
                // width: 300px;
                width: 100%;
            }
        }
}