.link{
    cursor: pointer;
    text-decoration: none;
}

.list-with-icon{
    @include icon-list;
}
.link{
    text-decoration: none;
    color: lighten($primary, 10%);
    font-weight: bold;
}
hr{
    background-color: $white;
    border-color: $white;
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
    height: 2px;
}
.note{
    margin: 50px 0;
    // background-color: red;
    text-align: center;
    span{
    display: inline-block;
    margin: auto;   
    padding: 10px;   
    border-radius: 20px;
    color: $primary;
    font-weight: bold;
    @include setbackGroundColor($white);
    box-shadow: $shadow;
    }
}



strong{
    color: darken($primary , 20%);
}

.input-container{
    @include center;  
    height: 40px;
    .input-inner-container{
        display: flex;
        flex-direction: row; 
        height: 100%;      
        width: 100%;
        
        input {           
            width: 80%;
            outline: none;
            padding: 1em;
            border: $border;
            @include setbackGroundColor(darken($primary, 5%));
            

        }

        .input-icon {
            height: 100%;
            flex: 1;
            @include center;
            background-color: transparent;            
            border: $border;
            border-left: 0;
            @include setbackGroundColor(lighten($primary,10%)); 
            cursor: $cursor;     
            &:hover{
                @include setbackGroundColor(lighten($primary,20%));
            }      

        }
    }
}






