.home2{
    margin-top: 20px;
    h1{
        text-align: center;
        width: 30%;
        margin: auto;
    }
    .card-container{
        justify-content: space-around;
        padding: 0 20px;
        .card{
            position: relative;
            .thumbnail{
                @include borderRadius(80px,80px);
                @include image-fit;
                @include position(0,none,none);
                transform: translate(25%,-50%);

            }
            border-radius: 10px;
            border-top-left-radius: 50px;
            padding: 30px;
            .card-title{
                line-height: 2;
                padding: 1em;
            }

        }
        
    }
}