nav {
    display: flex;
    justify-content: space-evenly;
    @include setbackGroundColor($primary);
    height: 10vh;

    .logo {
        display: grid;
        place-content: center;
        font-size: 42px;
        margin-left: 50px;
        font-weight: 600;

        span {
            @include center;
            padding: 10px;
        }

    }

    ul {

        @include center;

        li {
            font-weight: bold;
            margin: 0 1.5em;
            color: $white;

            .link{
                color: $white;
            }
           
        }
    }

    .searchbar {
        @include center;
        width: 25%;
        margin-right: 50px;

        .searchinner {
            display: flex;
            flex-direction: row;
            height: 50%;
            width: 90%;

            input {
                height: 100%;
                width: 80%;
                outline: none;
                padding: 5px;
                border:$border;

            }

            span {
                height: 100%;
                flex: 1;
                @include center;
                background-color: transparent;
                border: $border;
                border-left: 0;

            }
        }
    }

}
