* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "colors";
@import "utilities";
@import "header";
@import "general";
@import "nav";
@import "page";
@import "service";
@import "footer";
@import "copyright";
ul {
    list-style: none;
    display: flex;
}

